#horario {
    display: flex;
    margin: 0 10% 64px;
    background-color: var(--vermelho);
    border-radius: 10px;
    padding: 18.35px 13.09px;
}

#horario_icon {
    background-color: rgba(29, 6, 5, 0.2);
    border-radius: 50%;
    padding: 15px;
}

#horario hr {
    border: 1px solid rgba(29, 6, 5, 0.4);
}

#horario_texto {
    display: block;
}

#horario_title {
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(29, 6, 5, 0.69);
}

.horario_descrition {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
}

@media screen and (min-width: 900px) {
    #info {
        display: flex;
        align-items: center;
        margin: 0 15% 64px;
        gap: 30px;
    }

    #horario {
        width: auto;
        margin: 0;
    }

    #horario hr {
        margin-right: 15.45px;
        margin-left: 15.45px;
    }
}